extends ../auth.layout.pug

block content
	.auth-block
		.auth-login-btns
			.login-btn Авторизоваться
		.auth-block__content
			.auth-block__user
				.user.user_auth
					.user__pic
						img.user__pic-img
					.user__description.user_color_grey
						.user__name Владимир Астахов
						.user__info.auth__info Личный сайт разработчика
				.auth-block__socials
					-
						var socials = [
							['vk', '#'],
							['gh', '#'],
							['in', '#']
						]
					+socials(socials, 'socials_fill_green')
			.auth-block__btns
				.auth__btn Мои работы
				.auth__btn Обо мне
				.auth__btn Блог
		.auth-footer &copy Владимир Астахов | создано с любовью в LoftSchool | 2016