.blog-description{
	width: 300px;
	height: 170px;
	background-image: url(assets/images/decor/blog_header.png);
	background-position: top center;
	background-repeat: no-repeat;
}
.blog-title{
	padding-bottom: 0;
}
.blog{
	&__triangle{
		position: relative;
	}
	&__wrapper{
		display: flex;
		padding-top: 70px;
		@include roboto(medium);
	}
	&__wrap-left{
		width: 30%;
		margin: 0 25px;
		text-align: right;
	}
	&__wrap-right{
		width: 70%;
		margin: 0 100px;
	}
	&__article-item{
		padding: 70px 0;
		border-bottom: 3px solid $beige;
		&:first-child{
			padding-top: 0;
		}
		&:last-child{
			border: none;
		}
	}
	&__nav-item{
		margin: 10px 0;
		padding: 10px 10px 10px 0;
		&:first-child{
			margin-top: 0;
		}
		&--active{
			color: $green;
			border-right: 3px solid $green;
		}
	}
}
.article{
	&__title{
		@include bernier;
		font-size: 35px;
	}
	&__date{
		color: $green;
		margin: 25px 0;
		opacity: .7;
	}
	&__text{
		@include roboto(regular);
		& > h3{
			@include roboto(bold);
			margin: 10px 0;
		}
		& > ul > li{
			list-style-type: circle;
		}
		& > p{
			text-indent: 20px;
			margin: 5px 0;
		}
	}
}
