.contacts__item{
	display: flex;
	margin: 15px 40px;
}
.contacts__icon-img{
	width: 25px;
	height: 25px;
	fill: $green;
	margin-right: 10px;
}
.contacts__title{
	font-style: normal;
	font-weight: 700;
	opacity: .8;
}