.footer{
	height: 150px;
	background-color: $grey;
	opacity: .8;
	color: white;
	&__row{
		display: flex;
		height: 50%;
		border-bottom: 1px solid rgba($white, .2);
		&:last-child{
			border: none;
		}
	}
	&__col{
		display: flex;
		align-items: center;
		padding: 0 20px;
		width: 50%;
		& > p{
			width: 100%;
			opacity: .5;
		}
		&_justify{
			&_end{
				justify-content: flex-end;
				& > p{
					text-align: right;
				}
			}
		}
	}
}
.footer-about, .footer-works{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.menu{
	&__list{
		display: flex;
	}
	&__item{
		margin: 0 10px;
	}
	&__link{
		color: #fff;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}