.socials {
	display: flex;
	height: 30px;
	&__hero{
		margin: 30px 0 0 15px;
	}
	&__link{
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: 0 15px;
		&_round{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border: 1px solid $white;
			border-radius: 50%;
			&:hover{
				background-color: $white;
			}
		}
	}
	&__link-pic{
		display: inline-block;
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-position: center center;
		fill: $white;
		opacity: .5;
		&:hover{
			opacity: 1;
		}
		&_auth{
			fill: $green;
		}
		&_round {
			width: 25px;
			height: 25px;
			&:hover {
				fill: $grey;
			}
		}
	}
}