.user{
	&__pic-img{
		display: block;
		background-image: url(assets/images/content/avatar.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 140px;
		height: 140px;
		border-radius: 50%;
		margin: 0 auto;
	}
	&__description{
		color: #fff;
		text-align: center;
	}
	&__name{
		font-size: 35px;
		@include roboto(bold);
	}
	&__info{
		font-size: 16px;
		opacity: .8;
	}
	&_auth{
		margin-top: 40px;
	}
	&_color{
		&_grey{
			color: $grey;
		}
	}
}